apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-api
  labels:
    app: todo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
        - name: app
          image: gcr.io/google-samples/hello-app:1.0
          ports:
            - containerPort: 8080