apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: todo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: app
          image: gcr.io/google-samples/hello-app:1.0
          ports:
            - containerPort: 8080